apiVersion: apps/v1
kind: Deployment
metadata:
  name: strimzi-cluster-operator
  labels:
    app: strimzi
    mode: zookeeper
spec:
  replicas: 1
  selector:
    matchLabels:
      name: strimzi-cluster-operator
      strimzi.io/kind: cluster-operator
  template:
    metadata:
      labels:
        name: strimzi-cluster-operator
        strimzi.io/kind: cluster-operator
        mode: zookeeper
    spec:
      serviceAccountName: strimzi-cluster-operator
      volumes:
        - name: strimzi-tmp
          emptyDir:
            medium: Memory
            sizeLimit: 1Mi
        - name: co-config-volume
          configMap:
            name: strimzi-cluster-operator
      containers:
        - name: strimzi-cluster-operator
          image: quay.io/strimzi/operator@sha256:e5208dedc91d6c2aaa5657fc5c22f6a9b3bc9fc4ec3b741219160a83438bca03
          ports:
            - containerPort: 8080
              name: http
          args:
            - /opt/strimzi/bin/cluster_operator_run.sh
          volumeMounts:
            - name: strimzi-tmp
              mountPath: /tmp
            - name: co-config-volume
              mountPath: /opt/strimzi/custom-config/
          env:
            - name: STRIMZI_NAMESPACE
              # we want to have cluster-wide operator
              value: "*"
            - name: STRIMZI_FULL_RECONCILIATION_INTERVAL_MS
              value: "120000"
            - name: STRIMZI_OPERATION_TIMEOUT_MS
              value: "300000"
            - name: STRIMZI_DEFAULT_TLS_SIDECAR_ENTITY_OPERATOR_IMAGE
              value: quay.io/strimzi/kafka@sha256:7230b57eee50737f8eb7e77596361bc80641db5e72183b0a778e8195c5a7569d
            - name: STRIMZI_DEFAULT_KAFKA_EXPORTER_IMAGE
              value: quay.io/strimzi/kafka@sha256:7230b57eee50737f8eb7e77596361bc80641db5e72183b0a778e8195c5a7569d
            - name: STRIMZI_DEFAULT_CRUISE_CONTROL_IMAGE
              value: quay.io/strimzi/kafka@sha256:7230b57eee50737f8eb7e77596361bc80641db5e72183b0a778e8195c5a7569d
            - name: STRIMZI_KAFKA_IMAGES
              value: |
                3.5.0=quay.io/strimzi/kafka@sha256:fc4accd839282ed402c9f8067f9ebd18283904a80f745ae69b14aaed87bd0149
                3.5.1=quay.io/strimzi/kafka@sha256:86f0066616752ceea8b7ec439aad8fa2803a861d9387dfd2a9ff95bab3e504fc
                3.6.0=quay.io/strimzi/kafka@sha256:7230b57eee50737f8eb7e77596361bc80641db5e72183b0a778e8195c5a7569d
            - name: STRIMZI_KAFKA_CONNECT_IMAGES
              value: |
                3.5.0=quay.io/strimzi/kafka@sha256:fc4accd839282ed402c9f8067f9ebd18283904a80f745ae69b14aaed87bd0149
                3.5.1=quay.io/strimzi/kafka@sha256:86f0066616752ceea8b7ec439aad8fa2803a861d9387dfd2a9ff95bab3e504fc
                3.6.0=quay.io/strimzi/kafka@sha256:7230b57eee50737f8eb7e77596361bc80641db5e72183b0a778e8195c5a7569d
            - name: STRIMZI_KAFKA_MIRROR_MAKER_IMAGES
              value: |
                3.5.0=quay.io/strimzi/kafka@sha256:fc4accd839282ed402c9f8067f9ebd18283904a80f745ae69b14aaed87bd0149
                3.5.1=quay.io/strimzi/kafka@sha256:86f0066616752ceea8b7ec439aad8fa2803a861d9387dfd2a9ff95bab3e504fc
                3.6.0=quay.io/strimzi/kafka@sha256:7230b57eee50737f8eb7e77596361bc80641db5e72183b0a778e8195c5a7569d
            - name: STRIMZI_KAFKA_MIRROR_MAKER_2_IMAGES
              value: |
                3.5.0=quay.io/strimzi/kafka@sha256:fc4accd839282ed402c9f8067f9ebd18283904a80f745ae69b14aaed87bd0149
                3.5.1=quay.io/strimzi/kafka@sha256:86f0066616752ceea8b7ec439aad8fa2803a861d9387dfd2a9ff95bab3e504fc
                3.6.0=quay.io/strimzi/kafka@sha256:7230b57eee50737f8eb7e77596361bc80641db5e72183b0a778e8195c5a7569d
            - name: STRIMZI_DEFAULT_TOPIC_OPERATOR_IMAGE
              value: quay.io/strimzi/operator@sha256:e5208dedc91d6c2aaa5657fc5c22f6a9b3bc9fc4ec3b741219160a83438bca03
            - name: STRIMZI_DEFAULT_USER_OPERATOR_IMAGE
              value: quay.io/strimzi/operator@sha256:e5208dedc91d6c2aaa5657fc5c22f6a9b3bc9fc4ec3b741219160a83438bca03
            - name: STRIMZI_DEFAULT_KAFKA_INIT_IMAGE
              value: quay.io/strimzi/operator@sha256:e5208dedc91d6c2aaa5657fc5c22f6a9b3bc9fc4ec3b741219160a83438bca03
            - name: STRIMZI_DEFAULT_KAFKA_BRIDGE_IMAGE
              value: quay.io/strimzi/kafka-bridge@sha256:f69852f0cd0d9861e44167626ca961933879b9849f3ff5ff58f16a4385bd26e3
            - name: STRIMZI_DEFAULT_KANIKO_EXECUTOR_IMAGE
              value: quay.io/strimzi/kaniko-executor@sha256:a88fb2e3b088399e01533ac3f5336258f396bbae2963c92dbf3d9a802f2d9e1d
            - name: STRIMZI_DEFAULT_MAVEN_BUILDER
              value: quay.io/strimzi/maven-builder@sha256:026262f5b01931128cd5ca9ecc416bee7183efd236a1b5cc07fb7c744668604a
            - name: STRIMZI_OPERATOR_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: STRIMZI_FEATURE_GATES
              value: "+KafkaNodePools,+UnidirectionalTopicOperator"
            - name: STRIMZI_LEADER_ELECTION_ENABLED
              value: "true"
            - name: STRIMZI_LEADER_ELECTION_LEASE_NAME
              value: "strimzi-cluster-operator"
            - name: STRIMZI_LEADER_ELECTION_LEASE_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: STRIMZI_LEADER_ELECTION_IDENTITY
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: STRIMZI_LOG_LEVEL
              value: "DEBUG"
            - name: STRIMZI_CUSTOM_RESOURCE_SELECTOR
              value: mode=zookeeper
          livenessProbe:
            httpGet:
              path: /healthy
              port: http
            initialDelaySeconds: 10
            periodSeconds: 30
          readinessProbe:
            httpGet:
              path: /ready
              port: http
            initialDelaySeconds: 10
            periodSeconds: 30
          resources:
            limits:
              cpu: 1000m
              memory: 512Mi
            requests:
              cpu: 200m
              memory: 384Mi
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: nodetype
                    operator: In
                    values:
                      - connect
      tolerations:
        - key: "nodetype"
          operator: "Equal"
          value: "connect"
          effect: "NoSchedule"
