---
apiVersion: v1
kind: ConfigMap
metadata:
  name: kronos-config
  labels:
    app: kronos
data:
  application.properties: |-
    quarkus.datasource.jdbc.max-size=16
    quarkus.kubernetes-config.enabled=true
    quarkus.kubernetes-config.config-maps=kronos-config
    quarkus.log.level=INFO
    quarkus.rest-client."io.excellent.project.dmt.DmtJsonService".url=http://dmt-svc.debezium-apps.svc.cluster.local:8080
    update.period=2s
    quarkus.http.port=8082
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: dmt-config
  labels:
    app: dmt
data:
  application.properties: |-
    quarkus.datasource.postgresql.db-kind=postgresql
    quarkus.datasource.postgresql.jdbc.url=jdbc:postgresql://imhotep-postgresql.debezium-postgresql.svc.cluster.local:5432/${database}?user=${username}&password=${password}
    quarkus.datasource.postgresql.enabled=true
    quarkus.datasource.mysql.db-kind=mysql
    quarkus.datasource.mysql.jdbc.url=jdbc:mysql://${username}:${password}@imhotep-mysql.debezium-mysql.svc.cluster.local:3306/${database}
    quarkus.datasource.mysql.enabled=true
    quarkus.mongodb.devservices.enabled=false
    quarkus.mongodb.main.connection-string=${mongoSharedConnection}
    quarkus.mongodb.main.enabled=true
    mongodb.database=${database}
    quarkus.kubernetes-config.enabled=true
    quarkus.kubernetes-config.config-maps=dmt-config
    quarkus.kubernetes-client.trust-certs=true
