apiVersion: v1
kind: ConfigMap
metadata:
  name: kronos-config
  labels:
    app: kronos
data:
  application.properties: |-
    quarkus.datasource.jdbc.max-size=16
    update.period=2s
    quarkus.log.level=DEBUG
    quarkus.datasource.jdbc.url=jdbc:postgresql://imhotep-postgresql.debezium-postgresql.svc.cluster.local:5432/${database}
    quarkus.datasource.password=${password}
    quarkus.datasource.username=${username}