apiVersion: apps/v1
kind: Deployment
metadata:
  name: strimzi-cluster-operator
  labels:
    app: strimzi
spec:
  replicas: 1
  selector:
    matchLabels:
      name: strimzi-cluster-operator
      strimzi.io/kind: cluster-operator
  template:
    metadata:
      labels:
        name: strimzi-cluster-operator
        strimzi.io/kind: cluster-operator
    spec:
      serviceAccountName: strimzi-cluster-operator
      volumes:
        - name: strimzi-tmp
          emptyDir:
            medium: Memory
            sizeLimit: 1Mi
        - name: co-config-volume
          configMap:
            name: strimzi-cluster-operator
      containers:
        - name: strimzi-cluster-operator
          image: quay.io/strimzi/operator@sha256:00c1f200dc17c5e67e4d4b8b20332a1f2ce79870b149ca1d43297a815948d8e0
          ports:
            - containerPort: 8080
              name: http
          args:
            - /opt/strimzi/bin/cluster_operator_run.sh
          volumeMounts:
            - name: strimzi-tmp
              mountPath: /tmp
            - name: co-config-volume
              mountPath: /opt/strimzi/custom-config/
          env:
            - name: STRIMZI_NAMESPACE
              # we want to have cluster-wide operator
              value: "*"
            - name: STRIMZI_FULL_RECONCILIATION_INTERVAL_MS
              value: "120000"
            - name: STRIMZI_OPERATION_TIMEOUT_MS
              value: "300000"
            - name: STRIMZI_DEFAULT_TLS_SIDECAR_ENTITY_OPERATOR_IMAGE
              value: quay.io/strimzi/kafka@sha256:cc6bdfdf1de1339bf0b0a525f4871e05996460eb5d3a90059fe507a1d16b63b1
            - name: STRIMZI_DEFAULT_KAFKA_EXPORTER_IMAGE
              value: quay.io/strimzi/kafka@sha256:cc6bdfdf1de1339bf0b0a525f4871e05996460eb5d3a90059fe507a1d16b63b1
            - name: STRIMZI_DEFAULT_CRUISE_CONTROL_IMAGE
              value: quay.io/strimzi/kafka@sha256:cc6bdfdf1de1339bf0b0a525f4871e05996460eb5d3a90059fe507a1d16b63b1
            - name: STRIMZI_KAFKA_IMAGES
              value: |
                3.0.0=quay.io/strimzi/kafka@sha256:c49331d87693961f30c413ab3fe338008f370fcbdc9d891bf96d0456ea1090db
                3.0.1=quay.io/strimzi/kafka@sha256:ecfb7ba058d8102ad853fc3dbe00bafa9a1da5b31136c3bff4ae2b2d6689e753
                3.1.0=quay.io/strimzi/kafka@sha256:cc6bdfdf1de1339bf0b0a525f4871e05996460eb5d3a90059fe507a1d16b63b1
            - name: STRIMZI_KAFKA_CONNECT_IMAGES
              value: |
                3.0.0=quay.io/strimzi/kafka@sha256:c49331d87693961f30c413ab3fe338008f370fcbdc9d891bf96d0456ea1090db
                3.0.1=quay.io/strimzi/kafka@sha256:ecfb7ba058d8102ad853fc3dbe00bafa9a1da5b31136c3bff4ae2b2d6689e753
                3.1.0=quay.io/strimzi/kafka@sha256:cc6bdfdf1de1339bf0b0a525f4871e05996460eb5d3a90059fe507a1d16b63b1
            - name: STRIMZI_KAFKA_MIRROR_MAKER_IMAGES
              value: |
                3.0.0=quay.io/strimzi/kafka@sha256:c49331d87693961f30c413ab3fe338008f370fcbdc9d891bf96d0456ea1090db
                3.0.1=quay.io/strimzi/kafka@sha256:ecfb7ba058d8102ad853fc3dbe00bafa9a1da5b31136c3bff4ae2b2d6689e753
                3.1.0=quay.io/strimzi/kafka@sha256:cc6bdfdf1de1339bf0b0a525f4871e05996460eb5d3a90059fe507a1d16b63b1
            - name: STRIMZI_KAFKA_MIRROR_MAKER_2_IMAGES
              value: |
                3.0.0=quay.io/strimzi/kafka@sha256:c49331d87693961f30c413ab3fe338008f370fcbdc9d891bf96d0456ea1090db
                3.0.1=quay.io/strimzi/kafka@sha256:ecfb7ba058d8102ad853fc3dbe00bafa9a1da5b31136c3bff4ae2b2d6689e753
                3.1.0=quay.io/strimzi/kafka@sha256:cc6bdfdf1de1339bf0b0a525f4871e05996460eb5d3a90059fe507a1d16b63b1
            - name: STRIMZI_DEFAULT_TOPIC_OPERATOR_IMAGE
              value: quay.io/strimzi/operator@sha256:00c1f200dc17c5e67e4d4b8b20332a1f2ce79870b149ca1d43297a815948d8e0
            - name: STRIMZI_DEFAULT_USER_OPERATOR_IMAGE
              value: quay.io/strimzi/operator@sha256:00c1f200dc17c5e67e4d4b8b20332a1f2ce79870b149ca1d43297a815948d8e0
            - name: STRIMZI_DEFAULT_KAFKA_INIT_IMAGE
              value: quay.io/strimzi/operator@sha256:00c1f200dc17c5e67e4d4b8b20332a1f2ce79870b149ca1d43297a815948d8e0
            - name: STRIMZI_DEFAULT_KAFKA_BRIDGE_IMAGE
              value: quay.io/strimzi/kafka-bridge@sha256:b1bfd695b7e45c399a5699dc68c1406e6f5d1cda0a30fc8cdb9648c91cbbe895
            - name: STRIMZI_DEFAULT_JMXTRANS_IMAGE
              value: quay.io/strimzi/jmxtrans@sha256:4ebe98fd2783bffa43c26f2843df30f6b411050571db7ec2bb570182a6bc535d
            - name: STRIMZI_DEFAULT_KANIKO_EXECUTOR_IMAGE
              value: quay.io/strimzi/kaniko-executor@sha256:544c4987f7f3ca558b04e9ef4357be204f088212b7b5b9ed0f909401a8bc5238
            - name: STRIMZI_DEFAULT_MAVEN_BUILDER
              value: quay.io/strimzi/maven-builder@sha256:8e64634cfd27b89684b63199b6cccdc478d600f55d1dc1503984dd887f355e43
            - name: STRIMZI_OPERATOR_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: STRIMZI_FEATURE_GATES
              value: "+UseStrimziPodSets"
            - name: STRIMZI_LOG_LEVEL
              value: "DEBUG"
          livenessProbe:
            httpGet:
              path: /healthy
              port: http
            initialDelaySeconds: 10
            periodSeconds: 30
          readinessProbe:
            httpGet:
              path: /ready
              port: http
            initialDelaySeconds: 10
            periodSeconds: 30
          resources:
            limits:
              cpu: 1000m
              memory: 384Mi
            requests:
              cpu: 200m
              memory: 384Mi
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: nodetype
                    operator: In
                    values:
                      - infra
  strategy:
    type: Recreate
