apiVersion: apps/v1
kind: Deployment
metadata:
  name: strimzi-cluster-operator-kraft
  labels:
    app: strimzi
    mode: kraft
spec:
  replicas: 1
  selector:
    matchLabels:
      name: strimzi-cluster-operator-kraft
      strimzi.io/kind: cluster-operator
  template:
    metadata:
      labels:
        name: strimzi-cluster-operator-kraft
        strimzi.io/kind: cluster-operator
        mode: kraft
    spec:
      serviceAccountName: strimzi-cluster-operator
      volumes:
        - name: strimzi-tmp
          emptyDir:
            medium: Memory
            sizeLimit: 1Mi
        - name: co-config-volume
          configMap:
            name: strimzi-cluster-operator-kraft
      containers:
        - name: strimzi-cluster-operator
          image: quay.io/strimzi/operator@sha256:1095daedaf7812f32b8aca00989b076b01f2b10f94dec1fd7589d09eb7f2a6cb
          ports:
            - containerPort: 8080
              name: http
          args:
            - /opt/strimzi/bin/cluster_operator_run.sh
          volumeMounts:
            - name: strimzi-tmp
              mountPath: /tmp
            - name: co-config-volume
              mountPath: /opt/strimzi/custom-config/
          env:
            - name: STRIMZI_NAMESPACE
              # we want to have cluster-wide operator
              value: "*"
            - name: STRIMZI_FULL_RECONCILIATION_INTERVAL_MS
              value: "120000"
            - name: STRIMZI_OPERATION_TIMEOUT_MS
              value: "300000"
            - name: STRIMZI_DEFAULT_TLS_SIDECAR_ENTITY_OPERATOR_IMAGE
              value: quay.io/strimzi/kafka@sha256:5f93915e4c98a217084329695a52a0f0f4afcfab2460b5543cf851c40379b323
            - name: STRIMZI_DEFAULT_KAFKA_EXPORTER_IMAGE
              value: quay.io/strimzi/kafka@sha256:5f93915e4c98a217084329695a52a0f0f4afcfab2460b5543cf851c40379b323
            - name: STRIMZI_DEFAULT_CRUISE_CONTROL_IMAGE
              value: quay.io/strimzi/kafka@sha256:5f93915e4c98a217084329695a52a0f0f4afcfab2460b5543cf851c40379b323
            - name: STRIMZI_KAFKA_IMAGES
              value: |
                3.4.0=quay.io/strimzi/kafka@sha256:cc1f61ba2cf29134292413a31d7c3858cfa00a5e2790a55ed818a6581ab1e2ff
                3.4.1=quay.io/strimzi/kafka@sha256:9ef5029fa61256e81d3c9222f6529ec6d7a772879b1cecd8272b053a1f90e341
                3.5.0=quay.io/strimzi/kafka@sha256:d9fb87b539f892dc0aef2fa137c1616c99798ff6311e23f39e2b545c79f0060e
                3.5.1=quay.io/strimzi/kafka@sha256:5f93915e4c98a217084329695a52a0f0f4afcfab2460b5543cf851c40379b323
            - name: STRIMZI_KAFKA_CONNECT_IMAGES
              value: |
                3.4.0=quay.io/strimzi/kafka@sha256:cc1f61ba2cf29134292413a31d7c3858cfa00a5e2790a55ed818a6581ab1e2ff
                3.4.1=quay.io/strimzi/kafka@sha256:9ef5029fa61256e81d3c9222f6529ec6d7a772879b1cecd8272b053a1f90e341
                3.5.0=quay.io/strimzi/kafka@sha256:d9fb87b539f892dc0aef2fa137c1616c99798ff6311e23f39e2b545c79f0060e
                3.5.1=quay.io/strimzi/kafka@sha256:5f93915e4c98a217084329695a52a0f0f4afcfab2460b5543cf851c40379b323
            - name: STRIMZI_KAFKA_MIRROR_MAKER_IMAGES
              value: |
                3.4.0=quay.io/strimzi/kafka@sha256:cc1f61ba2cf29134292413a31d7c3858cfa00a5e2790a55ed818a6581ab1e2ff
                3.4.1=quay.io/strimzi/kafka@sha256:9ef5029fa61256e81d3c9222f6529ec6d7a772879b1cecd8272b053a1f90e341
                3.5.0=quay.io/strimzi/kafka@sha256:d9fb87b539f892dc0aef2fa137c1616c99798ff6311e23f39e2b545c79f0060e
                3.5.1=quay.io/strimzi/kafka@sha256:5f93915e4c98a217084329695a52a0f0f4afcfab2460b5543cf851c40379b323
            - name: STRIMZI_KAFKA_MIRROR_MAKER_2_IMAGES
              value: |
                3.4.0=quay.io/strimzi/kafka@sha256:cc1f61ba2cf29134292413a31d7c3858cfa00a5e2790a55ed818a6581ab1e2ff
                3.4.1=quay.io/strimzi/kafka@sha256:9ef5029fa61256e81d3c9222f6529ec6d7a772879b1cecd8272b053a1f90e341
                3.5.0=quay.io/strimzi/kafka@sha256:d9fb87b539f892dc0aef2fa137c1616c99798ff6311e23f39e2b545c79f0060e
                3.5.1=quay.io/strimzi/kafka@sha256:5f93915e4c98a217084329695a52a0f0f4afcfab2460b5543cf851c40379b323
            - name: STRIMZI_DEFAULT_TOPIC_OPERATOR_IMAGE
              value: quay.io/strimzi/operator@sha256:1095daedaf7812f32b8aca00989b076b01f2b10f94dec1fd7589d09eb7f2a6cb
            - name: STRIMZI_DEFAULT_USER_OPERATOR_IMAGE
              value: quay.io/strimzi/operator@sha256:1095daedaf7812f32b8aca00989b076b01f2b10f94dec1fd7589d09eb7f2a6cb
            - name: STRIMZI_DEFAULT_KAFKA_INIT_IMAGE
              value: quay.io/strimzi/operator@sha256:1095daedaf7812f32b8aca00989b076b01f2b10f94dec1fd7589d09eb7f2a6cb
            - name: STRIMZI_DEFAULT_KAFKA_BRIDGE_IMAGE
              value: quay.io/strimzi/kafka-bridge@sha256:668b494cb6c824789da24287dd5275e355aee60cbefb7165190c61c739e3b540
            - name: STRIMZI_DEFAULT_KANIKO_EXECUTOR_IMAGE
              value: quay.io/strimzi/kaniko-executor@sha256:5ff9fc7d0b7b694875ad0150fc787c582d42da3b4864d807ee8a6524e47b0e4e
            - name: STRIMZI_DEFAULT_MAVEN_BUILDER
              value: quay.io/strimzi/maven-builder@sha256:e7029a84db9887075deb2a6106aa6d8265987471e916dcab83f94728f43213c0
            - name: STRIMZI_OPERATOR_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: STRIMZI_FEATURE_GATES
              value: "+StableConnectIdentities,+UseKRaft"
            - name: STRIMZI_LEADER_ELECTION_ENABLED
              value: "true"
            - name: STRIMZI_LEADER_ELECTION_LEASE_NAME
              value: "strimzi-cluster-operator-kraft"
            - name: STRIMZI_LEADER_ELECTION_LEASE_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: STRIMZI_LEADER_ELECTION_IDENTITY
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: STRIMZI_LOG_LEVEL
              value: "DEBUG"
            - name: STRIMZI_CUSTOM_RESOURCE_SELECTOR
              value: mode=kraft
          livenessProbe:
            httpGet:
              path: /healthy
              port: http
            initialDelaySeconds: 10
            periodSeconds: 30
          readinessProbe:
            httpGet:
              path: /ready
              port: http
            initialDelaySeconds: 10
            periodSeconds: 30
          resources:
            limits:
              cpu: 1000m
              memory: 512Mi
            requests:
              cpu: 200m
              memory: 384Mi
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: nodetype
                    operator: In
                    values:
                      - infra
