apiVersion: apps/v1
kind: Deployment
metadata:
  name: strimzi-cluster-operator-kraft
  labels:
    app: strimzi
    mode: kraft
spec:
  replicas: 1
  selector:
    matchLabels:
      name: strimzi-cluster-operator-kraft
      strimzi.io/kind: cluster-operator
  template:
    metadata:
      labels:
        name: strimzi-cluster-operator-kraft
        strimzi.io/kind: cluster-operator
        mode: kraft
    spec:
      serviceAccountName: strimzi-cluster-operator
      volumes:
        - name: strimzi-tmp
          emptyDir:
            medium: Memory
            sizeLimit: 1Mi
        - name: co-config-volume
          configMap:
            name: strimzi-cluster-operator-kraft
      containers:
        - name: strimzi-cluster-operator
          image: quay.io/strimzi/operator@sha256:486c8ef09b0bd29226476d59542ec757edd0f5c0c542c80ed3c6b6b85976ae2d
          ports:
            - containerPort: 8080
              name: http
          args:
            - /opt/strimzi/bin/cluster_operator_run.sh
          volumeMounts:
            - name: strimzi-tmp
              mountPath: /tmp
            - name: co-config-volume
              mountPath: /opt/strimzi/custom-config/
          env:
            - name: STRIMZI_NAMESPACE
              # we want to have cluster-wide operator
              value: "*"
            - name: STRIMZI_FULL_RECONCILIATION_INTERVAL_MS
              value: "120000"
            - name: STRIMZI_OPERATION_TIMEOUT_MS
              value: "300000"
            - name: STRIMZI_DEFAULT_TLS_SIDECAR_ENTITY_OPERATOR_IMAGE
              value: quay.io/strimzi/kafka@sha256:a04304a03dc976999f6280ceb144b4410dc67deb614259c84be9ad3a5581a0ac
            - name: STRIMZI_DEFAULT_KAFKA_EXPORTER_IMAGE
              value: quay.io/strimzi/kafka@sha256:a04304a03dc976999f6280ceb144b4410dc67deb614259c84be9ad3a5581a0ac
            - name: STRIMZI_DEFAULT_CRUISE_CONTROL_IMAGE
              value: quay.io/strimzi/kafka@sha256:a04304a03dc976999f6280ceb144b4410dc67deb614259c84be9ad3a5581a0ac
            - name: STRIMZI_KAFKA_IMAGES
              value: |
                3.5.2=quay.io/strimzi/kafka@sha256:8bee2a4f181acb4305875c4b4320cf506f7ad36cd40eaf933b88485144991c92
                3.6.0=quay.io/strimzi/kafka@sha256:d9fdb135d6768895576b74e1e7430c8208ce1c78f759568faf1b27bf6ae2de21
                3.6.1=quay.io/strimzi/kafka@sha256:a04304a03dc976999f6280ceb144b4410dc67deb614259c84be9ad3a5581a0ac
            - name: STRIMZI_KAFKA_CONNECT_IMAGES
              value: |
                3.5.2=quay.io/strimzi/kafka@sha256:8bee2a4f181acb4305875c4b4320cf506f7ad36cd40eaf933b88485144991c92
                3.6.0=quay.io/strimzi/kafka@sha256:d9fdb135d6768895576b74e1e7430c8208ce1c78f759568faf1b27bf6ae2de21
                3.6.1=quay.io/strimzi/kafka@sha256:a04304a03dc976999f6280ceb144b4410dc67deb614259c84be9ad3a5581a0ac
            - name: STRIMZI_KAFKA_MIRROR_MAKER_IMAGES
              value: |
                3.5.2=quay.io/strimzi/kafka@sha256:8bee2a4f181acb4305875c4b4320cf506f7ad36cd40eaf933b88485144991c92
                3.6.0=quay.io/strimzi/kafka@sha256:d9fdb135d6768895576b74e1e7430c8208ce1c78f759568faf1b27bf6ae2de21
                3.6.1=quay.io/strimzi/kafka@sha256:a04304a03dc976999f6280ceb144b4410dc67deb614259c84be9ad3a5581a0ac
            - name: STRIMZI_KAFKA_MIRROR_MAKER_2_IMAGES
              value: |
                3.5.2=quay.io/strimzi/kafka@sha256:8bee2a4f181acb4305875c4b4320cf506f7ad36cd40eaf933b88485144991c92
                3.6.0=quay.io/strimzi/kafka@sha256:d9fdb135d6768895576b74e1e7430c8208ce1c78f759568faf1b27bf6ae2de21
                3.6.1=quay.io/strimzi/kafka@sha256:a04304a03dc976999f6280ceb144b4410dc67deb614259c84be9ad3a5581a0ac
            - name: STRIMZI_DEFAULT_TOPIC_OPERATOR_IMAGE
              value: quay.io/strimzi/operator@sha256:486c8ef09b0bd29226476d59542ec757edd0f5c0c542c80ed3c6b6b85976ae2d
            - name: STRIMZI_DEFAULT_USER_OPERATOR_IMAGE
              value: quay.io/strimzi/operator@sha256:486c8ef09b0bd29226476d59542ec757edd0f5c0c542c80ed3c6b6b85976ae2d
            - name: STRIMZI_DEFAULT_KAFKA_INIT_IMAGE
              value: quay.io/strimzi/operator@sha256:486c8ef09b0bd29226476d59542ec757edd0f5c0c542c80ed3c6b6b85976ae2d
            - name: STRIMZI_DEFAULT_KAFKA_BRIDGE_IMAGE
              value: quay.io/strimzi/kafka-bridge@sha256:baf2498b23f297faad29165826d32e0dbe3d19094eb185f4f4539c18c371fa18
            - name: STRIMZI_DEFAULT_KANIKO_EXECUTOR_IMAGE
              value: quay.io/strimzi/kaniko-executor@sha256:4a5e243b84fee19a9cd4e309373a53a4de9257d0158fc73e8c3d25e38fe06792
            - name: STRIMZI_DEFAULT_MAVEN_BUILDER
              value: quay.io/strimzi/maven-builder@sha256:b420279013080702d69535ff478d411a51ae2a50ee403d8206b387a2aeef6c17
            - name: STRIMZI_OPERATOR_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: STRIMZI_FEATURE_GATES
              value: "+UseKRaft,+KafkaNodePools,+UnidirectionalTopicOperator"
            - name: STRIMZI_LEADER_ELECTION_ENABLED
              value: "true"
            - name: STRIMZI_LEADER_ELECTION_LEASE_NAME
              value: "strimzi-cluster-operator-kraft"
            - name: STRIMZI_LEADER_ELECTION_LEASE_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: STRIMZI_LEADER_ELECTION_IDENTITY
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: STRIMZI_LOG_LEVEL
              value: "DEBUG"
            - name: STRIMZI_CUSTOM_RESOURCE_SELECTOR
              value: mode=kraft
          livenessProbe:
            httpGet:
              path: /healthy
              port: http
            initialDelaySeconds: 10
            periodSeconds: 30
          readinessProbe:
            httpGet:
              path: /ready
              port: http
            initialDelaySeconds: 10
            periodSeconds: 30
          resources:
            limits:
              cpu: 1000m
              memory: 512Mi
            requests:
              cpu: 200m
              memory: 384Mi
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: nodetype
                    operator: In
                    values:
                      - connect
      tolerations:
        - key: "nodetype"
          operator: "Equal"
          value: "connect"
          effect: "NoSchedule"
