apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namePrefix: http-internal-
commonLabels:
  type: http-internal

replicas:
  - name: producer
    count: 7

resources:
  - ../../base

patches:
  - path: producer.yaml
    target:
      name: producer
  - path: consumer.yaml
    target:
      name: consumer
  - path: streams.yaml
    target:
      name: streams
